.container{
    background-image: linear-gradient(cyan,blue,pink);
    text-align: center;
    height: 550px;
    border-style: double;
    border-radius: .5cm;
    border-width: 5px;
    min-width:  350px;
    padding: 10px;
    color: aliceblue;
}
img{
    height: 200px;
    
    border-radius: 50%;
    border: 5px solid black;
    
}
p{
    color:black;
}